<div class="col-sm-3 col-md-2 sidebar">
    <ul class="nav nav-sidebar">
        <li {{#if sidebar.overview}}class="active"{{/if}}><a href="/">Overview <span class="sr-only">(current)</span></a></li>
    </ul>
    <div class="nav-sidebar-header">
        <h3>Content</h3>
    </div>
    <ul class="nav nav-sidebar">
        <li {{#if sidebar.pages}}class="active"{{/if}}><a href="/page">Pages</a></li>
        <li {{#if sidebar.history}}class="active"{{/if}}><a href="/">History</a></li>
    </ul>
    
    <div class="nav-sidebar-header">
        <h3>Management</h3>
    </div>
    <ul class="nav nav-sidebar">
        <li {{#if sidebar.users}}class="active"{{/if}}><a href="/admin">Users</a></li>
    </ul>
</div>