<div class="col-sm-3 col-md-2 sidebar">
    <ul class="nav nav-sidebar">
        <li class="active"><a href="/">Overview <span class="sr-only">(current)</span></a></li>
    </ul>
    <div class="nav-sidebar-header">
        <h3>Content</h3>
    </div>
    <ul class="nav nav-sidebar">
        <li><a href="/page">Pages</a></li>
        <li><a href="/">History</a></li>
    </ul>
    
    <div class="nav-sidebar-header">
        <h3>Management</h3>
    </div>
    <ul class="nav nav-sidebar">
        <li><a href="/admin">Users</a></li>
    </ul>
</div>