{{!< default}}

<h1>{{title}}<h1>


<h2>User list<h2>


<table>
    <tr>
        <th>username</th><th>mail</th><th>oprations</th>
    </tr>
    {{#each users}}
    <tr>
        <td>{{this.username}}</td><td>{{this.mail}}</td><td><a href="">remove</a></td>
    </tr>
    {{/each}}
</table>

<div>

<form action="/admin/user/add" method="post">
    <input type="" placeholder="username"/>
    
</form>
 
<a href="/admin/user/add">add new</a>

</div>