<!DOCTYPE HTML>
<html lang="en-US">
<head>
	<meta charset="UTF-8">
	<title>{{title}}</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/font-awesome.css" />
    <link rel="stylesheet" href="/css/style.css" />
</head>
<body>
{{> header}}

<div class="container-fluid">
    <div class="row">
        
        <div class="main">
           	<div>
                <table class="table table-bordered">
                    <tr>
                        <td class="new-added" width="30">new</td>
                        <td>{{curVer.dateFormated}}</td>
                    </tr>
                    <tr>
                        <td class="old-removed" width="30">old</td>
                        <td>{{preVer.dateFormated}}</td>
                    </tr>
                </table>
            </div>
            
            
            
            <pre class="compare-pre">{{{diffContent}}}</pre>
            
            
        </div>
    </div>
</div>

{{> footer}}
<script type="text/javascript">



</script>
</body>
</html>