<!DOCTYPE HTML>
<html lang="en-US">
<head>
	<meta charset="UTF-8">
	<title></title>
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/page-edit.css" />
    <link rel="stylesheet" href="/css/faq-markdown.css" />
</head>
<body>
<form action="" method="post">
<section class="entry-container">
    <div class="page-content">
        <header class="header container">
            <div class="row">
                <section class="entry-title col-md-10">
                    <input name="title" type="text" value="" placeholder="Page Title"/>
                </section>
                <section class="operation-block col-md-2">
                    <select name="lang" id="">
                        <option {{#if langFlag.en}}selected{{/if}} value="en">EN</option>
                        <option {{#if langFlag.hk}}selected{{/if}} value="hk">HK</option>
                        <option {{#if langFlag.jp}}selected{{/if}} value="jp">JP</option>
                        <option {{#if langFlag.kr}}selected{{/if}} value="kr">KR</option>
                        <option {{#if langFlag.de}}selected{{/if}} value="de">DE</option>
                        <option {{#if langFlag.es}}selected{{/if}} value="es">ES</option>
                        <option {{#if langFlag.ru}}selected{{/if}} value="ru">RU</option>
                        <option {{#if langFlag.vn}}selected{{/if}} value="vn">VN</option>
                        <option {{#if langFlag.sg}}selected{{/if}} value="sg">SG</option>
                        <option {{#if langFlag.my}}selected{{/if}} value="my">MY</option>
                        <option {{#if langFlag.id}}selected{{/if}} value="id">ID</option>
                        <option {{#if langFlag.th}}selected{{/if}} value="th">TH</option>
                    </select>
                </section>
            </div>
        </header>
        <section class="entry-markdown">
            <section id="entry-markdown-content" class="entry-markdown-content">
                <textarea name="mdContent" id="markdown-input" placeholder="Markdown content..."></textarea>
            </section>
        </section>
        <section class="entry-preview">
            <div id="preview-pane" class="rendered-markdown faq-markdown"></div>
        </section>
        <footer class="footer container">
            <div class="row">
                <section class="entry-url col-md-8">
                    <input name="url" type="text" value="" placeholder="Page URL"/>
                </section>
                <section class="operation-block col-md-4">
                    <input type="submit" class="btn btn-primary" value="Create" />
                </section>
            </div>
        </footer>
    </div>
</section>
</form>
    
    <script type="text/javascript" src="/js/marked.js"></script>
    <script type="text/javascript" src="/js/gui.js"></script>
    
</body>
</html>