{{!< default}}

<h1>{{title}}</h1>


<h2>page list</h2>


<table>
    <tr>
        <th>title</th><th></th><th></th>
    </tr>
	{{#each pages}}
    <tr>
    	<td>{{this.title}}<td>
    </tr>
	{{/each}}
</table>

<div>

<p>
<a href="/page/add">add new page</a>
</p>

</div>