{{!< default}}

<h1>{{title}}<h1>


<h2>page list<h2>


<table>
    <tr>
        <th></th><th></th><th></th>
    </tr>

    <tr>
    	
    </tr>

</table>

<div>

<div>
<a href="/page/add">add new page</a>
</div>

</div>