{{!< default}}

<div class="container-fluid">
    <div class="row">
        {{> sidebar}}
        
        
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h1 class="page-header">{{title}}</h1>
            
            <form class="psd-form" action="" method="post">
                <label class="" for="">Old password</label>
                <input class="form-control" type="password" name="passwordOld" />
                <label class="" for="">New password</label>
                <input class="form-control" type="password" name="passwordNew" />
                <label class="" for="">New password again</label>
                <input class="form-control" type="password" name="passwordAgain" />
                <input class="btn btn-primary" type="submit" />
            </form>
        </div>
        
    </div>
</div>