{{!< default}}

<div class="container-fluid">
    <div class="row">
        
        
        <div class="main">
            <h1 class="page-header">{{title}}</h1>
            
            <a href="/users/password/{{username}}">Change Password</a>
        </div>
        
    </div>
</div>