/* faq-markdown */
.faq-markdown{}
.faq-markdown hr{border:0 none;border-bottom:3px solid #ddd;height:0;font-size:0;margin-bottom:20px;}
.faq-markdown h1{font-size:30px;margin:12px 0 8px 0;color:#3C90D7;}
.faq-markdown h2{font-size:24px;padding:7px 0;margin:35px 0 25px 0;border-bottom:1px solid #ccc;line-height:1.4;}
.faq-markdown h3{font-size:18px;margin:22px 0 18px 0;}
.faq-markdown h4{font-size:14px;margin:20px 0;}
.faq-markdown ul,ol{font-size:14px;}
.faq-markdown ul{list-style:disc;padding-left:25px;line-height:1.5;}
.faq-markdown ol{list-style:decimal;padding-left:30px;line-height:1.5;}
.faq-markdown p{font-size:14px;line-height:1.5;margin:15px 0;}
.faq-markdown p a{text-decoration:underline;}
.faq-markdown table{border-collapse:collapse;border-top:3px solid #ddd;}
.faq-markdown th,
.faq-markdown td{font-size:14px;padding:8px 15px;}
.faq-markdown table{word-wrap:break-word;}
.faq-markdown .border-table th,
.faq-markdown .border-table td{border:1px solid #ddd;}
.faq-markdown .info-table th,
.faq-markdown .info-table td{font-size:12px;}
.faq-markdown tr:nth-child(even){background:#f1f1f1;}
.faq-markdown img{max-width:100%;/*border:1px solid #e5e5e5;padding:3px;*/border-radius:3px;background:#f9f9f9;}
.faq-markdown blockquote{border-left:5px solid #3C90D7;margin:0 2px;padding:0 20px;}